<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}FFY test{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('asset/images/favicon/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('asset/images/favicon/favicon.ico') }}" type="image/x-icon">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('asset/css/main.css') }}">
            <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous">
            <link
                rel="stylesheet"
                href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
                integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                crossorigin="anonymous"
            >
        {% endblock %}
        {% block coustomStylesheets %}{% endblock %}
    </head>
    <body>
        {% set currentRout = app.request.get('_route') %}
        <main class="container-fluid">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ path('homepage') }}">Forex4you [<span class="text-success">test task</span>]</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto pl-3">
                        <li class="nav-item {% if currentRout == 'homepage' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('homepage') }}">Task info</a>
                        </li>
                        <li class="nav-item {% if currentRout == 'api_doc' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('api_doc') }}">Api doc</a>
                        </li>
                        <li class="nav-item {% if currentRout == 'lk_index' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('lk_index') }}">
                                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}<i class="fas fa-lock"></i>{% endif %} LK
                            </a>
                        </li>
                    </ul>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <span class="navbar-text pl-3">
                            <a href="{{ path('logout') }}">
                                Logout <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </span>
                    {% endif %}
                </div>
            </nav>
            {% block javascripts %}
                <script src="{{ asset('asset/js/main.js') }}"></script>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            {% endblock %}
            {% block coustomJavascripts %}{% endblock %}
            <div class="content">{% block body %}{% endblock %}</div>
        </main>
    </body>
</html>
